$accent-primary: #050505;
$accent-secondary: #0e810e;
$background: #F4F4F4;
$foreground: white;
$transition-standard: .6s all cubic-bezier(.165, .84, .44, 1);
$side-padding: 4vw;
$side-padding-blog: 25vw;