@import './variables';

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
    padding: 2rem $side-padding;
    border-top: 5px solid $accent-primary;

    .author {
        text-align: right;

        a {
            font-weight: bold;
        }
    }
}

@media (max-width: 425px) {
    .footer {
        display: grid;
        justify-content: inherit;
        
        .author {
            text-align: left;
        }
    }
}