.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  margin: 4rem 0;
  padding: 0 var(--side-padding); 
}
.header {
  display: grid;
  grid-gap: 1rem;
  margin: auto;
  text-align: right;
}
.header * {
  margin: 0;
}

/* Posts */
.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 8rem 0;
  padding: 0 var(--side-padding);
}